{% extends 'flatpages/default.html' %}
{% load censor_filters %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

{% block content %}
<h1>{{ post.title|censor }}</h1>
<p>{{ post.created_at|date:'d M Y' }}</p>
<p>Категория:
    {% for category in post.categories.all %}
        {{ category.name }}
    {% endfor %}
</p>
<p>{{ post.text|censor }}</p>
<p>Автор: {{ post.author.user.username }}</p>

{% if post.type == 'NW' %}
    <form method="post" action="{% url 'subscribe' %}">
        {% csrf_token %}
        {% for category in post.categories.all %}
            <input type="hidden" name="category_id" value="{{ category.id }}">
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">Подписаться на эту категорию</button>
    </form>
{% endif %}
{% endblock content %}
